# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

eff_hadrons/efficiency*
eff_hadrons/spectra/
results*/
effQA_dedx*/


analysis/filelist/

analysis/datalist
analysis/jobs/
analysis/data/
analysis/cleanFileList.sh
analysis/getFileList.sh
analysis/makeRefMultList.sh
analysis/Split.C
analysis/file.list.*.test
