# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.so
.consign

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

eff_hadrons/efficiency*
eff_hadrons/spectra/
results*/
effQA_dedx*/
badFiles.list

analysis/filelist/

analysis/datalist
analysis/jobs/
analysis/data/
analysis/cleanFileList.sh
analysis/getFileList.sh
analysis/makeRefMultList.sh
analysis/Split.C
analysis/file.list.*.test

temp_gccflags.c
.sl64_gcc482/

eff_embedding/efficiency
eff_embedding/efficiencyStudy
eff_embedding/effQA
eff_embedding/embeddingTrees/
eff_embedding/log
eff_embedding/efficiencyStudy/
