# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.so
.consign

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~

eff_hadrons/spectra/
results*/
effQA_dedx*/
badFiles.list

analysis/filelist/
analysis/distributions


analysis/datalist
analysis/jobs/
analysis/data/
analysis/dataBESII
analysis/cleanFileList.sh
analysis/getFileList.sh
analysis/makeRefMultList.sh
analysis/Split.C
analysis/file.list.*.test

analysis/moments/Net-Proton
analysis/moments/Net-Kaon
analysis/moments/URQMD
analysis/moments/sysError
analysis/moments/dataBESII
analysis/moments/output
analysis/moments/STAR_QM2015_Preliminary.*

analysis/moments/Convert2FF*
analysis/moments/moments_ana*
analysis/moments/archive/Convert2FF*
analysis/moments/archive/moments_ana*

temp_gccflags.c
.sl64_gcc482/

eff_embedding/efficiency
eff_embedding/efficiencyStudy
eff_embedding/effQA
eff_embedding/embeddingTrees/
eff_embedding/log
eff_embedding/efficiencyStudy/
